{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">Connexion</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form method="post">
                {% if error is defined and error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="alert alert-info">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}" class="text-danger">Se déconnecter</a>
                    </div>
                {% endif %}

                <div class="mb-4">
                    <label for="inputEmail" class="form-label">Adresse email</label>
                    <input type="email" value="{{ last_username|default('') }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Entrez votre email">
                </div>

                <div class="mb-4">
                    <label for="inputPassword" class="form-label">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Entrez votre mot de passe">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary w-100 py-3 mt-3" type="submit">Se connecter</button>
            </form>

            <div class="mt-4 text-center">
                <p>Pas encore de compte ? <a href="{{ path('app_register') }}" class="text-primary">Créer un compte</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
